# Problem Statement

Given the user input: their keam rank, category and thier preferred course for admission, display the colleges with previous year's closing rank greater than the input rank (in the priority order of popular colleges).

#### Necessary imports

In [1]:
import pandas as pd

#### Reading Data

In [2]:
df = pd.read_csv("ouput_csv/final_data.csv")
df.head()

,Unnamed: 0,College Code,College Name,Course,Type,SM,EZ,MU,BH,LA,DV,VK,BX,KU,KN,SC,ST
0,0,ILE,"ILM College of Engineering, Perumbavoor, Ernak...",Aeronautical Engineering,S,51741,0,0,0,0,0,0,0,0,0,0,0
1,1,JCE,Jawaharlal College of Engineering & Technology...,Aeronautical Engineering,S,52539,0,0,0,0,0,0,0,0,0,0,0
2,2,MHP,"Ace College of Engineering, .Thiruvallam.",Aeronautical Engineering,S,51501,0,0,0,0,0,0,0,0,0,0,0
3,3,MZC,"Mount Zion College of Engg., Pathanamthitta.",Aeronautical Engineering,S,48014,0,0,0,0,0,0,0,0,0,0,0
4,4,RIE,"Rajadhani Institute of Engineering & Tech., At...",Aeronautical Engineering,S,52146,0,0,0,0,0,0,0,0,0,0,0

#### Converting all occurences of " - " in the dataset to " 0 "

In [3]:
# creating a list of column names of various categories
categories = list(df.columns)[4:]

# iterating over those categories
for c in categories:
    col = list(df[c])
    
    # iterating over values of that column
    for i, x in enumerate(col):
        if x=='-':
            col[i] = 0
        else:
            col[i] = int(x) #converting the str values to int
    
    df[c] = col

ValueError: invalid literal for int() with base 10: 'S'

In [ ]:
df.head()

,College Code,College Name,Course,Type,SM,EZ,MU,BH,LA,DV,VK,BX,KU,KN,SC,ST
0,ILE,"ILM College of Engineering, Perumbavoor, Ernak...",Aeronautical Engineering,S,51741,0,0,0,0,0,0,0,0,0,0,0
1,JCE,Jawaharlal College of Engineering & Technology...,Aeronautical Engineering,S,52539,0,0,0,0,0,0,0,0,0,0,0
2,MHP,"Ace College of Engineering, .Thiruvallam.",Aeronautical Engineering,S,51501,0,0,0,0,0,0,0,0,0,0,0
3,MZC,"Mount Zion College of Engg., Pathanamthitta.",Aeronautical Engineering,S,48014,0,0,0,0,0,0,0,0,0,0,0
4,RIE,"Rajadhani Institute of Engineering & Tech., At...",Aeronautical Engineering,S,52146,0,0,0,0,0,0,0,0,0,0,0

#### Accepting inputs

In [ ]:
rank = int(input("Enter your rank: "))
category = input("Enter your category: ")
course = input("Enter your preferred course: ")

Enter your rank: 50000
Enter your category: SM
Enter your preferred course: Computer Science & Engineering

#### Filtering the dataset based on user inputs

In [ ]:
# filtering based on user's rank, category and course
df = df.loc[df['Course'] == course]
df = df.loc[df[category] >= rank]

# sorting based on closing rank
df = df.sort_values(by = 'SM')
df = df.reset_index(drop=True)

# dropping a few columns 
cols_to_drop = [i for i in categories if i!=category]
cols_to_drop.append("College Code")
cols_to_drop.append("Course")
df = df.drop(labels=cols_to_drop, axis=1)

print("\nAvailable colleges based on your rank, in the order of best to worst:")
df

NameError: name 'course' is not defined

In [ ]:
df.to_csv('ouput_csv/final_data.csv')

In [ ]:
df.columns

Index(['Unnamed: 0', 'College Code', 'College Name', 'Course', 'Type', 'SM',
       'EZ', 'MU', 'BH', 'LA', 'DV', 'VK', 'BX', 'KU', 'KN', 'SC', 'ST'],
      dtype='object')