# Problem Statement

Given the user input: their keam rank, category and thier preferred course for admission, display the colleges with previous year's closing rank greater than the input rank (in the priority order of popular colleges).

#### Necessary imports

In [1]:
import pandas as pd

#### Reading Data

In [2]:
df = pd.read_csv("ouput_csv/final_data.csv")
df.head()

,College Code,College Name,Course,Type,SM,EZ,MU,BH,LA,DV,VK,BX,KU,KN,SC,ST
0,ILE,"ILM College of Engineering, Perumbavoor, Ernak...",Aeronautical Engineering,S,51741,-,-,-,-,-,-,-,-,-,-,-
1,JCE,Jawaharlal College of Engineering & Technology...,Aeronautical Engineering,S,52539,-,-,-,-,-,-,-,-,-,-,-
2,MHP,"Ace College of Engineering, .Thiruvallam.",Aeronautical Engineering,S,51501,-,-,-,-,-,-,-,-,-,-,-
3,MZC,"Mount Zion College of Engg., Pathanamthitta.",Aeronautical Engineering,S,48014,-,-,-,-,-,-,-,-,-,-,-
4,RIE,"Rajadhani Institute of Engineering & Tech., At...",Aeronautical Engineering,S,52146,-,-,-,-,-,-,-,-,-,-,-

#### Converting all occurences of " - " in the dataset to " 0 "

In [3]:
# creating a list of column names of various categories
categories = list(df.columns)[4:]

# iterating over those categories
for c in categories:
    col = list(df[c])
    
    # iterating over values of that column
    for i, x in enumerate(col):
        if x=='-':
            col[i] = 0
        else:
            col[i] = int(x) #converting the str values to int
    
    df[c] = col

In [4]:
df.head()

,College Code,College Name,Course,Type,SM,EZ,MU,BH,LA,DV,VK,BX,KU,KN,SC,ST
0,ILE,"ILM College of Engineering, Perumbavoor, Ernak...",Aeronautical Engineering,S,51741,0,0,0,0,0,0,0,0,0,0,0
1,JCE,Jawaharlal College of Engineering & Technology...,Aeronautical Engineering,S,52539,0,0,0,0,0,0,0,0,0,0,0
2,MHP,"Ace College of Engineering, .Thiruvallam.",Aeronautical Engineering,S,51501,0,0,0,0,0,0,0,0,0,0,0
3,MZC,"Mount Zion College of Engg., Pathanamthitta.",Aeronautical Engineering,S,48014,0,0,0,0,0,0,0,0,0,0,0
4,RIE,"Rajadhani Institute of Engineering & Tech., At...",Aeronautical Engineering,S,52146,0,0,0,0,0,0,0,0,0,0,0

#### Accepting inputs

In [59]:
rank = int(input("Enter your rank: "))
category = input("Enter your category: ")
course = input("Enter your preferred course: ")

Enter your rank: 50000
Enter your category: SM
Enter your preferred course: Computer Science & Engineering

#### Filtering the dataset based on user inputs

In [60]:
# filtering based on user's rank, category and course
df = df.loc[df['Course'] == course]
df = df.loc[df[category] >= rank]

# sorting based on closing rank
df = df.sort_values(by = 'SM')
df = df.reset_index(drop=True)

# dropping a few columns 
cols_to_drop = [i for i in categories if i!=category]
cols_to_drop.append("College Code")
df = df.drop(labels=cols_to_drop, axis=1)

print("\nAvailable colleges based on your rank, in the order of best to worst:")
df

Available colleges based on your rank, in the order of best to worst:

,College Name,Course,Type,SM
0,Sree Narayana Gurukulam College of Engineering...,Computer Science & Engineering,S,50176
1,"KMCT College of Engineering, Kozhikkode.",Computer Science & Engineering,S,50201
2,"Musaliar College of Engineering & Tech., Patha...",Computer Science & Engineering,S,50441
3,"Carmel College of Engg. & Technology, Punnapra...",Computer Science & Engineering,S,50546
4,Jai Bharath College of Management & Engg. Tech...,Computer Science & Engineering,S,50588
5,"Musaliar College of Engineering, Chirayinkeezh.",Computer Science & Engineering,S,50633
6,Sree Narayana Guru Institute of Science & Tech...,Computer Science & Engineering,S,50841
7,M Dasan Memmorial Co-op. Inst. of Engg. & Inf....,Computer Science & Engineering,S,50897
8,"Shahul Hameed Memorial Engineering College, Ka...",Computer Science & Engineering,S,51069
9,"Rajadhani Institute of Science and Technology,...",Computer Science & Engineering,S,51142
10,"T K M Institute of Technology, Ezhukone, Kollam.",Computer Science & Engineering,S,51198
11,St. Thomas College of Engineering & Technology...,Computer Science & Engineering,S,51242
12,Valia Koonambaikulathamma College of Engg. & t...,Computer Science & Engineering,S,51378
13,"Sadguru Swamy Nithyananda Insti. of Tech., Kar...",Computer Science & Engineering,S,51432
14,"Mount Zion College of Engg., Pathanamthitta.",Computer Science & Engineering,S,51486
15,"Veda Vyasa Institute of Technology, Ponnempada...",Computer Science & Engineering,S,51568
16,"Heera College of Engineering & Technology, Ned...",Computer Science & Engineering,S,51637
17,"Travancore Engineering College, Oyoor, Kollam.",Computer Science & Engineering,S,51665
18,Lourdes Matha College of Science and Technolog...,Computer Science & Engineering,S,51770
19,"MGM College of Engineering & Technology, Ernak...",Computer Science & Engineering,S,51818
20,"Thejus Engineering College, Erumapetti, Thrissur.",Computer Science & Engineering,S,51901
21,Sree Narayana Guru College of Engg & Technolog...,Computer Science & Engineering,S,51989
22,"Sree Buddha College of Engineering, Elavumthit...",Computer Science & Engineering,S,52048
23,"Vidya Academy of Science & Technology, Kiliman...",Computer Science & Engineering,S,52066
24,"Royal College of Engineering & Technology, Thr...",Computer Science & Engineering,S,52071
25,"Providence College of Engineering, Chengannur.",Computer Science & Engineering,S,52097
26,"St. Thomas Institute of Science & Technology, ...",Computer Science & Engineering,S,52156
27,"St. Thomas College of Engg. & Technology, Chen...",Computer Science & Engineering,S,52177
28,"MES Institute of Tech. & Management, Chathannoor.",Computer Science & Engineering,S,52209
29,MGM College of Engineering and Pharmaceutical ...,Computer Science & Engineering,S,52391
30,"Mahaguru Institute of Technology, Mavelikkara,...",Computer Science & Engineering,S,52483
31,"M G College of Engineering, Thiruvallom.",Computer Science & Engineering,S,52503
32,"Universal Engineering College, Vallivattom, Th...",Computer Science & Engineering,S,52532
33,"Baselios Mathew II College of Engg., Sasthamco...",Computer Science & Engineering,S,52554
34,"Kottayam Institute of Tech. & Science, Pallica...",Computer Science & Engineering,S,52645
35,"KMCT College of Engineering for Women, Manass...",Computer Science & Engineering,S,52652
36,"Met's School of Engineering, Mala.",Computer Science & Engineering,S,52740
37,"Younus College of Engg. & Technology, Vadakkev...",Computer Science & Engineering,S,52769
38,"Nehru College of Engg. & Research Centre, Thir...",Computer Science & Engineering,S,52780
39,"K M E A Engineering College, Edathala.",Computer Science & Engineering,S,52805
40,"Holy Grace Academy of Engineering, Mala, Thris...",Computer Science & Engineering,S,52807
41,"Ahalia School of Engineering & Technology, Pud...",Computer Science & Engineering,S,52828
42,"Sree Narayana Mangalam Inst. of Mgmt. & Tech.,...",Computer Science & Engineering,S,52833
43,"Mohandas College of Engg. & Tech., Nedumangad,...",Computer Science & Engineering,S,52868
44,"John Cox Memorial CSI Institute of Technology,",Computer Science & Engineering,S,52893
45,"Al-Azhar College of Engineering & Technology, ...",Computer Science & Engineering,S,52920
46,"Ilahia College of Engineering & Tech., Moovatt...",Computer Science & Engineering,S,52936
47,Jawaharlal College of Engineering & Technology...,Computer Science & Engineering,S,53011
48,"UKF College of Engineering & Tech., Parippally.",Computer Science & Engineering,S,53043
49,"Sreepathy Institute of Management & Tech., Koo...",Computer Science & Engineering,S,53076
50,"Indira Gandhi Inst. of Engineering & Tech., Ko...",Computer Science & Engineering,S,53112
51,"Rajadhani Institute of Engineering & Tech., At...",Computer Science & Engineering,S,53121
52,"I E S College of Engineering, Chittilappilly.",Computer Science & Engineering,S,53123
53,"Mangalam College of Engineering, Ettumanoor.",Computer Science & Engineering,S,53139
54,"Gurudeva Institute of Science & Technology, Pu...",Computer Science & Engineering,S,53191
55,"Malabar College of Engineering & Tech., Wadaka...",Computer Science & Engineering,S,53207

In [5]:
df.to_csv('ouput_csv/final_data.csv')